body{
    text-align: center;
    background-color: #5c85b3;
    /* padding-top: 10px; */
}
.btn{
    font-size: 20px;
    color: white;
    background-color:blue;
    border: none;
}
h1{
    font-size: 70px;
    color: white;
}
#data{
    font-size: 24px;
    color: white;
}